*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BCD9E2;
    font-family: 'Roboto', sans-serif;
}

h1{
    width: 100vw;
    text-align: center;
    font-weight: 700;
}
.completed{
    background-color:rgba(61, 157, 94, 0.5);
}

.undone{
    background-color: rgba(0,0,0,0.2);
}

ul{
    padding: 0;
    list-style: none;
}

label{
    font-weight: 700;
}

table{
    width: 100%;
    position: relative;
    left: 5vw;
}

tr{
    position: relative;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding:5px 0 0 5px;
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

td{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task{
    height: 100%;
    width: auto;
    margin-right: 5px;
}

.checkBox{
    position: absolute;
    left: 5px;
    margin-top: 5px;
}

.deleteBtn{
    position: absolute;
    right: 5px;
    background: transparent;
    color: #205C70;
    border: none;
    box-shadow: none;
}

.deleteBtn:hover{
    box-shadow: none;
}

.container{
    width: 100vw;
    height: 80vh;
}

.confirmBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.formInput{
    margin:0 10px 0 10px;
    min-width: 100px;
    border: 2px solid  #205C70;
    box-shadow: 2px 2px 5px rgba(0,0,0.0.5) !important;
}


@media only screen and (orientation: landscape){
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 30%;
        width: 80%;
    }
    
    .container{
        display: flex;
        flex-direction: row;
    }
    .formContainer{
       
        width: 50vw;
    }
     .listContainer{
        max-height: 100%;
        width: 50vw;
    }
}

@media only screen and (orientation: portrait){
     form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
    
    .formLabel{
        width: auto;
        padding-top: 10px;
    }

    .formInput{
        width: 50%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    .formContainer{
        height: 30%;
        width: 100vw;
    }
     .listContainer{
        height: 50%;
        width: 100vw;
        padding-right: 2vw;
    }
    ul{
        position: relative;
        left: 5vw;
    }
    li{
        width:80%;
    }
}

#submitBtn{
    margin-left: 10px;
}

button{
    border-radius: 10px;
    border: 1px solid  #205C70;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

button:hover{
    box-shadow: 0 0 10px  rgba(255,255,255,1);
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listContainer{
    padding: 2vh 2vw 2vw 2vh;
    overflow-y: scroll;
    border-left: 5px solid #205C70;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yesBtn{
    background-color: rgba(214, 103, 83, 0.5);
    margin: 0 5px 0 5px;
    height: 80%;
}

.noBtn{
    background-color: rgba(255,255,255,0.5);
    height: 80%;
}


.hiddenTable{
    width: 0;
    opacity: 0;
}

